/*  font  */

.hotel-filter {
  color: white;
}

.hotel-filter h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;

}

.hotel-filter span {
  font-size: 16px;
  line-height: 21px;
}

.hotel-filter legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.hotel-filter label {
  font-size: 18px;
  line-height: 21px;
}

.hotel-filter .apply-form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;

  color: white;
}

.hotel-filter .reset-form-button {
  font-size: 16px;
  line-height: 20px;

  color: white;
}

.catalog-section .sort-options span {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.catalog-section .sort-options .sort-type-label select {
  font-size: 18px;
  line-height: 21px;
}

.catalog-table .hotel-card .hotel-title {
  font-size: 24px;
  line-height: 28px;
}

.catalog-table .hotel-card .hotel-text {
  font-size: 18px;
  line-height: 21px;

  color: #333333;
}

.catalog-table .hotel-card .hotel-buttons button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;

  color: white;
}

.catalog-table .hotel-card .hotel-rating button {
  font-size: 16px;
  line-height: 20px;

  color: #333333;
}

.catalog-table-pagination .current-page-number button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  color: white;
}

.catalog-table-pagination .current-page-number button:disabled {
  color: black;
}

.catalog-table-pagination .hotels-on-page-label,
.catalog-table-pagination [name=hotels_count] {
  font-size: 18px;
  line-height: 21px;

  padding: 19px;
  margin-left: 20px;

  color: #333333;
}

section.subscribe-section {
  color: #333333;
}
section.subscribe-section p:first-child {
  color: black;
}

/*  background  */

section.hotel-filter {
  background-image: url(../images/filter-background.png);
  height: 403px;
  width: 1200px;
}

.hotel-filter .apply-form-button {
  background: #82B3D3;
  border-radius: 4px;

  padding: 14px 15px;
}

.hotel-filter .reset-form-button {
  border-style: none;
  background: none;

  margin: 15px auto;
}

.catalog-table .hotel-card /*.hotel-buttons*/ button {
  width: 140px;
  height: 37px;
  border-radius: 4px;
  border-style: none;
}

.catalog-table .hotel-card .hotel-buttons .hotel-more-details {
  background-color: #756157;
}

.catalog-table .hotel-card .hotel-buttons .hotel-to-favorites {
  background-color: #82B3D3;
}

.catalog-table .hotel-card .hotel-buttons button:active {
  background-color: #7DB54F;
}

.catalog-table .hotel-card .hotel-rating button {
  padding: 9px 22px;

  background-color: #F2F2F2;
  border-radius: 4px;
  border-style: none;
}

.catalog-table-pagination .current-page-number button {
  height: 60px;
  width: 60px;

  background: #82B3D3;

  border-style: none;
  border-radius: 4px;
}

.catalog-table-pagination .current-page-number button:disabled {
  background-color: #F2F2F2;
}

section.subscribe-section {
  background: white;
}
section.subscribe-section input {
  background-color: #F2F2F2;
}


/*  select styles  */

.sort-type-label select {
  font-size: 18px;
  line-height: 20px;
  color: #333333;

  box-sizing: content-box;
  padding: 16px;
}


/*  radio buttons styles  */

.view_type [type=radio] {
  width: 0;
  height: 0;
}

.view_type [type=radio] + img {
  cursor: pointer;
  padding: 17px 16px;

  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: #ccc;
}

.view_type [type=radio]:checked + img {
  border-color: black;
}


/*  position  */

section.hotel-filter {
  display: flex;
  justify-content: center;
  align-content: center;
}

section.hotel-filter .filter-content {
  margin: 35px 70px 70px;
  display: flex;
  flex-direction: column;
}

section.hotel-filter header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

section.hotel-filter h2 { margin: 0 0 10px; }

section.hotel-filter form.filter-form {
  align-self: center;
  display: flex;
}

section.hotel-filter form.filter-form .form-side {
  display: flex;
}

section.hotel-filter form.filter-form fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-style: none;
}

section.hotel-filter form.filter-form .left label {
  padding: 10px 0;
}

section.hotel-filter form.filter-form .right .buttons {
  display: flex;
  flex-direction: column;

  justify-content: space-around;

  margin-top: 10px;
}

section.catalog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.catalog-section .sort-options {
  display: flex;
  width: 1057px;
  justify-content: space-between;
  margin: 50px 0;
  align-items: center;
}

section.catalog-section .sort-options .view_type {
  justify-self: flex-end;
}

section.catalog-section .catalog-table {
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.catalog-section .catalog-table .hotel-card {
  box-sizing: border-box;
  width: 340px;
  height: 438px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.catalog-section .catalog-table .hotel-card:last-child {
  margin-bottom: 96px;
}

section.catalog-section .catalog-table .hotel-card .hotel-text {
  display: flex;
  justify-content: space-between;
}

section.catalog-section .catalog-table .hotel-card .hotel-text span {
  width: 140px;
  text-align: left;
}

section.catalog-section .catalog-table .hotel-card .hotel-buttons,
section.catalog-section .catalog-table .hotel-card .hotel-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.catalog-section .catalog-table .hotel-card .hotel-rating .stars {
  padding: 10px 5px;
}

section.catalog-section .catalog-table-pagination {
  display: flex;
  justify-content: space-between;
  width: 1056px;
}

.catalog-table-pagination [name=hotels_count] {
  width: 160px;
}
