ul {list-style: none}


/*  font  */

body * {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

a.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.want-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-section,
.subscribe-section button {
  color: #ffffff;
}
.subscribe-section p {
  font-size: 22px;
  line-height: 26px;
}
.subscribe-section p:first-child {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-section input,
.subscribe-section button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-section button {
  text-transform: uppercase;
}


/*  backgrounds */

.want-button {
  background: #756157;
  padding: 10px 40px;
  border-radius: 4px;
  border-style: none;
}

section.subscribe-section {
  background-image: url(../images/subscribe-background.png);
  width: 1200px;
  height: 411px;
}

.subscribe-section input {
  border-style: none;
  padding: 12px 0;
}

.subscribe-section button {
  background: #82B3D3;

  padding: 12px 15px;
  border-style: none;
  border-radius: 0 10px 10px 0;
}
