ul {list-style: none}


/*  fonts  */

body * {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

a.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.want-button,
.hotel-find .hotel-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
  color: #FFFFFF;
}

.introduction h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;
}
.introduction p {
  font-size: 22px;
  line-height: 26px;

  color: #333333;
}

.advantages-list {
  font-size: 18px;
  line-height: 21px;
}

.advantages-list .advantage p:nth-child(2),
.advantages-list p:first-child {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  text-transform: uppercase;
}

.advantages-list .advantage-n1,
.advantages-list .advantage-n2 {
  color: #FFFFFF;
}

.hotel-find p {
  font-size: 20px;
  line-height: 26px;
}
.hotel-find p:first-child {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;
}
.hotel-find .hotel-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-section {
  color: #ffffff;
}
.subscribe-section p {
  font-size: 22px;
  line-height: 26px;
}
.subscribe-section p:first-child {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}


  /*  backgrounds */

.want-button,
.hotel-find .hotel-button {
  background: #756157;
  padding: 10px 40px;
  border-radius: 4px;
  border-style: none;
}

section.welcoming {
  background-image: url(../images/welcoming-background-with-divider.png);
  width: 1200px;
  height: 485px;
}

div.advantage-n1,
div.advantage-n2 {
  background: #82B3D3;
}

div.housing,
div.souvenirs,
div.advantage-n3,
div.advantage-n5 {
  background: rgba(131, 179, 211, 0.12);
}

div.advantage-n4 {
  background: rgba(131, 179, 211, 0.2);
}

section.subscribe-section {
  background-image: url(../images/subscribe-background.png);
  width: 1200px;
  height: 411px;
}
