/*  fonts  */


.introduction h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;
}
.introduction p {
  font-size: 22px;
  line-height: 26px;

  color: #333333;
}

.advantages-list {
  font-size: 18px;
  line-height: 21px;
}

.advantages-list img + p:nth-child(2),
.advantages-list p:first-child {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  text-transform: uppercase;
}

.advantages-list .advantage-n1,
.advantages-list .advantage-n2 {
  color: #FFFFFF;
}

.hotel-find p {
  font-size: 20px;
  line-height: 26px;
}
.hotel-find p:first-child {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;
}
.hotel-find .hotel-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  text-transform: uppercase;
  color: #FFFFFF;
}


  /*  backgrounds */

.hotel-find .hotel-button {
  background: #756157;
  padding: 10px 40px;
  border-radius: 4px;
  border-style: none;
}

section.welcoming {
  background-image: url(../images/welcoming-background-with-divider.png);
  width: 1200px;
  height: 485px;
}

div.advantage-n1,
div.advantage-n2 {
  background: #82B3D3;
}

div.housing,
div.souvenirs,
div.advantage-n3,
div.advantage-n5 {
  background: rgba(131, 179, 211, 0.12);
}

div.advantage-n4 {
  background: rgba(131, 179, 211, 0.2);
}


/*  position  */

section.welcoming {
  display: flex;
  justify-content: center;
  align-items: center;
}


section.introduction {
  height: 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.introduction h2 {
    margin: 63px auto auto;
}

section.introduction p {
  margin: auto auto 90px;
  justify-self: flex-end;
}

section.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

section.advantages-list .advantage {
  height: 384px;
  width: 400px;
}

section.advantages-list .text {
  height: 230px;
  margin: 92px 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section.advantages-list .text p {
  margin: 0;
}

section.hotel-find {
  height: 417px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

section.hotel-find p {
  margin: 0;
}

section.hotel-find p:first-child {
  margin-top: 91px;
}

section.hotel-find button {
  margin-bottom: 93px;
}
